$tablet: 500px;
.App {
  background-color: #131921;
  background-image: url(../images/flippedChicago.jpg);
  background-size:cover !important;
  background-repeat: no-repeat;
  font-family: 'Courier New','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 1200px;
  /* min-height: 200px; */
  /* opacity: 0.7; */
  /* overflow: hidden; */
  /* width: 100%; */
  /* -webkit-background-size: cover !important; */
  /* display: flex; */
  /* flex-direction: column; */
}

/* header  */
.header{
  // width: 100%;
  z-index: 2;
  .dropdown-menu-button{
    background: none;
    border: none;
    padding: 40px 40px 0px 40px; 
  }
  .dropdown{
    text-align: right;
  }
  .dropdown-content{
    display: none;
    min-width: 160px;
  }
  .dropdown-content a{
    color: #ffffff;
    font-size: 20px;
    padding: 12px 40px 0px 0px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover{
    background-color: rgb(78, 98, 141, 0.5);
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
  .menu-icon{
    font-size: 50px;
    color: #ffffff;
    font-weight: 900;  
  }
  .menu-icon:hover{
    color:#4e628d;
  }
}
@media screen and (min-width:500px){
  .header{
    position: absolute;
    right: 1px;
    top: 1px;
    height:250px;
  }
} 

/* home page  */
.home-page{
  padding-top: 30px;
  z-index: 1;

  .trailsText {
  // position: relative;
  // width: 100%;
  will-change: transform, opacity;
 
  }

  .main-text{
    text-align: center;
    /* margin: auto; */
    @media screen and (min-width:500px) {
      position: relative;
      top:180px; 
      margin: auto;
    }

  }
  .hello-center{
    font-size: 30px;
    letter-spacing: 5px;
    @media screen and (min-width:500px) {
      padding:50px 200px 20px 0px ;
    }
    @media screen and (min-width:750px){
      font-size: 40px;
      padding:50px 300px 20px 0px ;
    }

  }
  .name-center{
    padding-top: 10px;
    font-size: 80px;
    @media screen and (min-width:500px) {
      font-size: 69px;
    }
    @media screen and (min-width:750px){
      font-size: 100px;
    }
  }
  .title-text{
    padding-top: 10px;
    font-size: 32px;

    @media screen and (min-width:500px) {
      padding: 10px 0px 20px 0px;
      font-size: 47px;
    }
    @media screen and (min-width:750px){
      font-size: 70px;
    }    
  }

  .sub-text{
    padding-top: 450px;
  }
  .white-font{
    color: #ffffff;
    font-weight: 900;
  }
  .text-align-center{
    text-align: center;
  }
  
  .change-text{
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    text-shadow: 1px 0px 1px #bcb2b2;

    @media screen and (min-width:500px) {
      font-size: 30px;
      padding: 54px 0px 0px 0px;
      text-shadow: 1px 0px 1px #969292;
    }
    @media screen and (min-width:750px){
      text-align: center;
      // font-size: 40px;
      font-weight: 900;
      text-shadow: 1px 0px 1px #edecec;
      padding: 30px 0px 0px 80px;
    }   
  }

}


footer{
  position:relative;
  bottom: -100px;
  @media screen and (min-width:500px) {
    bottom: -150px;
  }

  .contacts-footer{
    display:flex;
    justify-content: center;
  }
  .footer-icon{
    color:#ffffff;
    padding: 40px;
    font-size: 55px;
  }
  .footer-icon:hover{
    color:rgb(78, 98, 141);
  } 
}
